/* original css came from comfy guide, i rlly like the css */
/* edited some of the code to add a bit of animation, nothing really else */

:root { --bg: #1e1e1e;--fg: #bdbdbd; --hl: #413f42; --ch: #48B8D0; scroll-behavior: smooth; }
[data-inverse="true"] { --bg: url('./img/missing.png'); --fg: red; --hl: purple; --ch: blue; }

body { background: var(--bg); color: var(--fg); width: 90%; max-width: 80em; margin: auto; font-family: monospace; font-size: 1.3em; }

h1 { font-size: 2.6em; text-align: center; }
a { text-decoration: none; color: var(--ch); }
a:hover { color: var(--hl); }
img { max-width: 100%; max-height: 35em; display: block; margin: auto; transition: 0.3s; }
blockquote { margin: auto; background: var(--hl); padding: 0.1em 1em; width: 90%; }

pre { padding: 0.5em 1em; text-align: left; border: solid 2px var(--hl); line-break: anywhere; white-space: pre-wrap !important; }
code { background: var(--hl); }
pre code { background: none; }

@media only screen and (max-width: 1000px) {
	body {
		width: 90%;
	}
	
	.columns {
		columns: 1;
	}
}

.time { color:gray; }
.mint { height: 10em; filter: drop-shadow(0 0 0.75rem #97da54); }
.slop { filter: grayscale(0.58) brightness(2.3) contrast(1.7) hue-rotate(231deg) saturate(2.3) blur(1.1px); }